# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environments
Backend/myenv/
venv/
.venv/
env/

# Secrets & credentials
.env
*.env
credentials.json
client_secret.json
token.json
token.pickle
*_credentials.json

# Node
Frontend/node_modules/
Frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
